[tool.ruff]
exclude = [
    ".git",
    ".ruff_cache",
    ".venv",
    "node_modules",
    "cdk.out",
]
line-length = 120

[tool.ruff.lint]
fixable = ["ALL"]
unfixable = []
select = [
    "E",  # pycodestyle error
    "F",  # Pyflakes
    "I",  # isort
    "B",  # flake8-bugbear
    "UP", # pyupgrade
]
ignore = [
    "B905",    # zip-without-explicit-strict
    "E501",    # line-too-long (フォーマッターに任せる)
]

[tool.ruff.lint.isort]
force-single-line = true

[tool.ruff.format]
quote-style = "double"
line-ending = "auto"
